clients/Main.json
[
    {
        "id": "e39743b1.c0c38",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "7cbf9c34.bad724",
        "type": "tab",
        "label": "Rescuer",
        "disabled": false,
        "info": "This is the code for the rescuer\nIt is designed for the pi. Not sure if we need a web page to give output"
    },
    {
        "id": "b3f3759d.3c61e8",
        "type": "tab",
        "label": "Rescuer/Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c25a96c5.98e458",
        "type": "tab",
        "label": "Rescuee",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a11292b.1b7738",
        "type": "subflow",
        "name": "RetrieveJSON",
        "info": "RetrieveJSON {fileName} => JSON\n\nThe given fileName will be interpolated into a URL in the repo.\nThis will be retrieved and converted to JSON",
        "in": [
            {
                "x": 62,
                "y": 131,
                "wires": [
                    {
                        "id": "1168893c.65c66f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 696,
                "y": 130,
                "wires": [
                    {
                        "id": "c1445568.f68bd",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "305eacc3.508f84",
        "type": "subflow",
        "name": "keyboardParser",
        "info": "Converts RaspberryPi keyboard node output to something useful",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "37ca5fe7.5be39"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 828,
                "y": 88,
                "wires": [
                    {
                        "id": "426f6cde.5c26d4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 825,
                "y": 149,
                "wires": [
                    {
                        "id": "9a8d0261.b97ee",
                        "port": 0
                    }
                ]
            }
        ],
        "outputLabels": [
            "Submit",
            "Edit"
        ]
    },
    {
        "id": "60f91915.9f56b",
        "type": "websocket-client",
        "z": "",
        "path": "wss://spacerescue.eu-gb.mybluemix.net/rescueeSocket",
        "wholemsg": "true"
    },
    {
        "id": "1a4abcdd.20f0b3",
        "type": "websocket-client",
        "z": "",
        "path": "wss://spacerescue.eu-gb.mybluemix.net/rescuerSocket",
        "wholemsg": "false"
    },
    {
        "id": "4b3e9ff7.3925e8",
        "type": "http request",
        "z": "8a11292b.1b7738",
        "name": "Get config",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 409.0000457763672,
        "y": 130.1999969482422,
        "wires": [
            [
                "c1445568.f68bd"
            ]
        ]
    },
    {
        "id": "1168893c.65c66f",
        "type": "function",
        "z": "8a11292b.1b7738",
        "name": "Compose URL",
        "func": "msg.url = `https://raw.githubusercontent.com/AndrewStanton94/space/master/config/${msg.payload.fileName}.json`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 209.00001525878906,
        "y": 129.9999237060547,
        "wires": [
            [
                "4b3e9ff7.3925e8"
            ]
        ]
    },
    {
        "id": "c1445568.f68bd",
        "type": "json",
        "z": "8a11292b.1b7738",
        "name": "",
        "pretty": false,
        "x": 557.0000457763672,
        "y": 130.0000457763672,
        "wires": [
            []
        ]
    },
    {
        "id": "6a10a82b.8e84c8",
        "type": "watson-text-to-speech",
        "z": "e39743b1.c0c38",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_MichaelVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "DetPtzgT6Gz4",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
        "x": 666.0000305175781,
        "y": 52,
        "wires": [
            [
                "209b8c42.18f0b4",
                "cbc64c40.db6f6",
                "5527af57.0831d"
            ]
        ]
    },
    {
        "id": "209b8c42.18f0b4",
        "type": "play audio",
        "z": "e39743b1.c0c38",
        "name": "",
        "voice": "1",
        "x": 900.5,
        "y": 52.5999755859375,
        "wires": []
    },
    {
        "id": "e307b3a2.9ace1",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "",
        "topic": "",
        "payload": "Talk to me",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 452.5000305175781,
        "y": 51.99998474121094,
        "wires": [
            [
                "6a10a82b.8e84c8"
            ]
        ]
    },
    {
        "id": "9ba03bb3.8ea668",
        "type": "http in",
        "z": "e39743b1.c0c38",
        "name": "",
        "url": "/text",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 322.5000305175781,
        "y": 91,
        "wires": [
            [
                "a376fa99.8bd8e8"
            ]
        ]
    },
    {
        "id": "a376fa99.8bd8e8",
        "type": "function",
        "z": "e39743b1.c0c38",
        "name": "",
        "func": "msg.payload = 'Here is some text'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 464.5,
        "y": 90.19998168945312,
        "wires": [
            [
                "6a10a82b.8e84c8"
            ]
        ]
    },
    {
        "id": "cbc64c40.db6f6",
        "type": "http response",
        "z": "e39743b1.c0c38",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 883.5000305175781,
        "y": 91,
        "wires": []
    },
    {
        "id": "5527af57.0831d",
        "type": "debug",
        "z": "e39743b1.c0c38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 903.5,
        "y": 133.20001220703125,
        "wires": []
    },
    {
        "id": "fcf0414.90ca7c",
        "type": "http in",
        "z": "e39743b1.c0c38",
        "name": "count",
        "url": "/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 355,
        "y": 583,
        "wires": [
            [
                "e54a2237.07dc9"
            ]
        ]
    },
    {
        "id": "e54a2237.07dc9",
        "type": "function",
        "z": "e39743b1.c0c38",
        "name": "",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 582,
        "wires": [
            [
                "edc16151.73f9d"
            ]
        ]
    },
    {
        "id": "edc16151.73f9d",
        "type": "http response",
        "z": "e39743b1.c0c38",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 632,
        "y": 582,
        "wires": []
    },
    {
        "id": "b342e894.42a098",
        "type": "watson-speech-to-text",
        "z": "e39743b1.c0c38",
        "name": "American Speech->Text",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": true,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "qz0oBR5sBdsG",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 697,
        "y": 236,
        "wires": [
            [
                "7b0b056e.bf67bc"
            ]
        ]
    },
    {
        "id": "646abb17.891144",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "punk",
        "topic": "",
        "payload": "http://www.wavsource.com/snds_2017-09-17_1751672946049674/movie_stars/eastwood/punk.wav",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 393,
        "y": 319,
        "wires": [
            [
                "b342e894.42a098",
                "6472709a.d6d1f"
            ]
        ]
    },
    {
        "id": "7b0b056e.bf67bc",
        "type": "debug",
        "z": "e39743b1.c0c38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 878,
        "y": 235,
        "wires": []
    },
    {
        "id": "6472709a.d6d1f",
        "type": "watson-speech-to-text",
        "z": "e39743b1.c0c38",
        "name": "English Speech->Text",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": true,
        "lang": "en-GB",
        "langhidden": "en-GB",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "qz0oBR5sBdsG",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 687,
        "y": 368,
        "wires": [
            [
                "34ebdf4.684ea2"
            ]
        ]
    },
    {
        "id": "34ebdf4.684ea2",
        "type": "debug",
        "z": "e39743b1.c0c38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 878,
        "y": 367,
        "wires": []
    },
    {
        "id": "73cd9e74.e9cef",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "Lack of faith",
        "topic": "",
        "payload": "http://www.wavsource.com/snds_2017-09-17_1751672946049674/movies/star_wars/lack_of_faith.wav",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 395,
        "y": 415,
        "wires": [
            [
                "6472709a.d6d1f"
            ]
        ]
    },
    {
        "id": "59865ccf.aa37e4",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "Nervous",
        "topic": "",
        "payload": "http://www.wavsource.com/snds_2017-09-17_1751672946049674/movies/airplane/nervous.wav",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 387,
        "y": 199,
        "wires": [
            [
                "b342e894.42a098"
            ]
        ]
    },
    {
        "id": "b76bbfa3.073ac",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "Surely",
        "topic": "",
        "payload": "http://www.wavsource.com/snds_2017-12-04_8268401740269038/movies/airplane/surely_a.wav",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 391,
        "y": 159,
        "wires": [
            [
                "b342e894.42a098"
            ]
        ]
    },
    {
        "id": "25159676.abf1aa",
        "type": "visual-recognition-v3",
        "z": "e39743b1.c0c38",
        "name": "Img",
        "apikey": "7fd3981e872c9b4d5021dda61179b8d92a7623af",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 591.4999847412109,
        "y": 519.6000213623047,
        "wires": [
            [
                "e0b9299d.73b298"
            ]
        ]
    },
    {
        "id": "e0b9299d.73b298",
        "type": "debug",
        "z": "e39743b1.c0c38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "result",
        "x": 780.4999847412109,
        "y": 521.7999725341797,
        "wires": []
    },
    {
        "id": "aab60db0.8cc15",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "",
        "topic": "",
        "payload": "http://static3.businessinsider.com/image/52695bc869beddc97fe18b3a-1200-706/airplane%20movie.jpg",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 363.49998474121094,
        "y": 516.9999847412109,
        "wires": [
            [
                "25159676.abf1aa"
            ]
        ]
    },
    {
        "id": "5d10112b.4dc43",
        "type": "template",
        "z": "e39743b1.c0c38",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!doctype html>\n\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n\n  <title>The HTML5 Herald</title>\n  <meta name=\"description\" content=\"The HTML5 Herald\">\n  <meta name=\"author\" content=\"SitePoint\">\n</head>\n\n<body>\n  <h1>Will this work?</h1>\n  <p>I hope so</p>\n</body>\n</html>",
        "output": "str",
        "x": 515.4999847412109,
        "y": 638.6000366210938,
        "wires": [
            [
                "1875ac21.14be14"
            ]
        ]
    },
    {
        "id": "8003d162.8d6f2",
        "type": "http in",
        "z": "e39743b1.c0c38",
        "name": "/page",
        "url": "/page",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 357.5,
        "y": 639,
        "wires": [
            [
                "5d10112b.4dc43"
            ]
        ]
    },
    {
        "id": "1875ac21.14be14",
        "type": "http response",
        "z": "e39743b1.c0c38",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 689.4999847412109,
        "y": 636,
        "wires": []
    },
    {
        "id": "9153be3b.086be",
        "type": "inject",
        "z": "e39743b1.c0c38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 364.49998474121094,
        "y": 709.9999847412109,
        "wires": [
            [
                "aeff3ea2.fffd4"
            ]
        ]
    },
    {
        "id": "aeff3ea2.fffd4",
        "type": "http request",
        "z": "e39743b1.c0c38",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://roomcheckproxy.eu-gb.mybluemix.net/page",
        "tls": "",
        "x": 548.4999847412109,
        "y": 709.6000213623047,
        "wires": [
            [
                "61d2d67c.4afeb8"
            ]
        ]
    },
    {
        "id": "61d2d67c.4afeb8",
        "type": "debug",
        "z": "e39743b1.c0c38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 755.5,
        "y": 710,
        "wires": []
    },
    {
        "id": "dee63d99.e6849",
        "type": "inject",
        "z": "7cbf9c34.bad724",
        "name": "Register Rescuer",
        "topic": "",
        "payload": "{\"device\":\"pi\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 121.5,
        "y": 119,
        "wires": [
            [
                "96edef43.404dd"
            ]
        ]
    },
    {
        "id": "96edef43.404dd",
        "type": "http request",
        "z": "7cbf9c34.bad724",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://spacerescue.eu-gb.mybluemix.net/registerRescuer",
        "tls": "",
        "x": 293.5,
        "y": 118.39999389648438,
        "wires": [
            [
                "5f7cfb54.2f8464"
            ]
        ]
    },
    {
        "id": "5f7cfb54.2f8464",
        "type": "switch",
        "z": "7cbf9c34.bad724",
        "name": "Is regestered with server?",
        "property": "payload.rescuer and payload.rescuer.registered\t    ? payload.rescuer.registered\t    : false",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 492.5,
        "y": 117.80000305175781,
        "wires": [
            [
                "bd30b2b.a85985"
            ],
            [
                "2b8b6e48.791ee2"
            ]
        ],
        "outputLabels": [
            "Yes",
            "No"
        ]
    },
    {
        "id": "48a634fe.1fe5cc",
        "type": "debug",
        "z": "7cbf9c34.bad724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 907.5,
        "y": 95.39999389648438,
        "wires": []
    },
    {
        "id": "2b8b6e48.791ee2",
        "type": "debug",
        "z": "7cbf9c34.bad724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 702.5,
        "y": 146.40000915527344,
        "wires": []
    },
    {
        "id": "bd30b2b.a85985",
        "type": "change",
        "z": "7cbf9c34.bad724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rescuer",
                "pt": "global",
                "to": "payload.rescuer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720.5,
        "y": 95.59996032714844,
        "wires": [
            [
                "48a634fe.1fe5cc"
            ]
        ]
    },
    {
        "id": "56f97f45.adf4a",
        "type": "inject",
        "z": "b3f3759d.3c61e8",
        "name": "Show rescuer",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 107.5,
        "y": 93,
        "wires": [
            [
                "83461a5f.cba888"
            ]
        ]
    },
    {
        "id": "2df99950.fe4686",
        "type": "debug",
        "z": "b3f3759d.3c61e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 389.5,
        "y": 93.59999084472656,
        "wires": []
    },
    {
        "id": "83461a5f.cba888",
        "type": "function",
        "z": "b3f3759d.3c61e8",
        "name": "",
        "func": "\nreturn context.global.rescuer;",
        "outputs": 1,
        "noerr": 0,
        "x": 246.49998474121094,
        "y": 93,
        "wires": [
            [
                "2df99950.fe4686"
            ]
        ]
    },
    {
        "id": "e801ab14.bab9d8",
        "type": "inject",
        "z": "b3f3759d.3c61e8",
        "name": "Show global",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110.19999694824219,
        "y": 150.1999969482422,
        "wires": [
            [
                "c17f2966.a13ce8"
            ]
        ]
    },
    {
        "id": "643193f4.ac0a0c",
        "type": "debug",
        "z": "b3f3759d.3c61e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 390.20001220703125,
        "y": 149.7999725341797,
        "wires": []
    },
    {
        "id": "c17f2966.a13ce8",
        "type": "function",
        "z": "b3f3759d.3c61e8",
        "name": "",
        "func": "\nreturn context.global;",
        "outputs": 1,
        "noerr": 0,
        "x": 246.1999969482422,
        "y": 150.1999969482422,
        "wires": [
            [
                "643193f4.ac0a0c"
            ]
        ]
    },
    {
        "id": "e0767f00.4c4fe",
        "type": "inject",
        "z": "7cbf9c34.bad724",
        "name": "Fresh start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 106.5,
        "y": 37,
        "wires": [
            [
                "23b499ff.69cfb6"
            ]
        ]
    },
    {
        "id": "23b499ff.69cfb6",
        "type": "change",
        "z": "7cbf9c34.bad724",
        "name": "Delete gloabal attributes",
        "rules": [
            {
                "t": "delete",
                "p": "rescuer",
                "pt": "global"
            },
            {
                "t": "delete",
                "p": "game",
                "pt": "global"
            },
            {
                "t": "delete",
                "p": "keyString",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 306.5,
        "y": 36.59999084472656,
        "wires": [
            []
        ]
    },
    {
        "id": "6b90102b.9a87",
        "type": "inject",
        "z": "7cbf9c34.bad724",
        "name": "Get Game Info",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126.49998474121094,
        "y": 245.99998474121094,
        "wires": [
            [
                "231009b5.689686"
            ]
        ]
    },
    {
        "id": "231009b5.689686",
        "type": "http request",
        "z": "7cbf9c34.bad724",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "https://spacerescue.eu-gb.mybluemix.net/gameInfo",
        "tls": "",
        "x": 308.49998474121094,
        "y": 246.40000915527344,
        "wires": [
            [
                "f8d93389.fdc1"
            ]
        ]
    },
    {
        "id": "f8d93389.fdc1",
        "type": "change",
        "z": "7cbf9c34.bad724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "game",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500.5,
        "y": 246.1999969482422,
        "wires": [
            []
        ]
    },
    {
        "id": "f6242fbe.7a7ef",
        "type": "websocket out",
        "z": "b3f3759d.3c61e8",
        "name": "Rescuer Socket",
        "server": "",
        "client": "1a4abcdd.20f0b3",
        "x": 313.20001220703125,
        "y": 372.20001220703125,
        "wires": []
    },
    {
        "id": "7c9964f8.2a3fac",
        "type": "inject",
        "z": "b3f3759d.3c61e8",
        "name": "Test data",
        "topic": "",
        "payload": "{\"data\":\"test\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 108.20002746582031,
        "y": 371.79998779296875,
        "wires": [
            [
                "f6242fbe.7a7ef"
            ]
        ]
    },
    {
        "id": "aecebbaa.f2a428",
        "type": "websocket in",
        "z": "b3f3759d.3c61e8",
        "name": "Rescuer Socket",
        "server": "",
        "client": "1a4abcdd.20f0b3",
        "x": 126.20002746582031,
        "y": 447.3999938964844,
        "wires": [
            [
                "31bfa5fb.5dd58a"
            ]
        ]
    },
    {
        "id": "31bfa5fb.5dd58a",
        "type": "debug",
        "z": "b3f3759d.3c61e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 312.2000274658203,
        "y": 447.8000030517578,
        "wires": []
    },
    {
        "id": "6fc0a1f0.a4909",
        "type": "debug",
        "z": "7cbf9c34.bad724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 494.25000762939453,
        "y": 422.5500240325928,
        "wires": []
    },
    {
        "id": "11274800.27b628",
        "type": "websocket out",
        "z": "7cbf9c34.bad724",
        "name": "RescuerSocket",
        "server": "",
        "client": "1a4abcdd.20f0b3",
        "x": 498.5,
        "y": 357.6000061035156,
        "wires": []
    },
    {
        "id": "60eb5e7d.54ffd",
        "type": "websocket in",
        "z": "c25a96c5.98e458",
        "name": "Rescuee Socket",
        "server": "",
        "client": "60f91915.9f56b",
        "x": 173.1999969482422,
        "y": 50.19999694824219,
        "wires": [
            [
                "d7b20d6a.392db",
                "1b348735.f7b719"
            ]
        ]
    },
    {
        "id": "d7b20d6a.392db",
        "type": "play audio",
        "z": "c25a96c5.98e458",
        "name": "",
        "voice": "0",
        "x": 441.49998474121094,
        "y": 50.59999084472656,
        "wires": []
    },
    {
        "id": "1b348735.f7b719",
        "type": "debug",
        "z": "c25a96c5.98e458",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 423.4999694824219,
        "y": 90.99998474121094,
        "wires": []
    },
    {
        "id": "37ca5fe7.5be39",
        "type": "switch",
        "z": "305eacc3.508f84",
        "name": "action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "repeat",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 152,
        "y": 139,
        "wires": [
            [
                "c1f8378d.389bf8"
            ],
            [],
            []
        ],
        "outputLabels": [
            "Up",
            "Down",
            "Repeat"
        ]
    },
    {
        "id": "c1f8378d.389bf8",
        "type": "function",
        "z": "305eacc3.508f84",
        "name": "Input to char",
        "func": "const keyboardLookUp = {\n    14: \"backspace\",\n    28: \"enter\",\n    //\n    30: \"a\",\n    31: \"s\",\n    32: \"d\",\n    33: \"f\",\n    34: \"g\",\n    35: \"h\",\n    36: \"j\",\n    37: \"k\",\n    38: \"l\",\n    39: \";\",\n    40: \"'\",\n    43: \"#\",\n    //\n    48: \"b\"\n};\nmsg.payload = keyboardLookUp[msg.payload] || msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 339,
        "y": 114,
        "wires": [
            [
                "788306ce.cff6e8"
            ]
        ]
    },
    {
        "id": "788306ce.cff6e8",
        "type": "switch",
        "z": "305eacc3.508f84",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enter",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 487,
        "y": 114,
        "wires": [
            [
                "426f6cde.5c26d4"
            ],
            [
                "9a8d0261.b97ee"
            ]
        ],
        "outputLabels": [
            "Submit",
            "Edit"
        ]
    },
    {
        "id": "426f6cde.5c26d4",
        "type": "change",
        "z": "305eacc3.508f84",
        "name": "Return & empty keystring",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "keyString",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "keyString",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 674.0000305175781,
        "y": 87.80006408691406,
        "wires": [
            []
        ]
    },
    {
        "id": "9a8d0261.b97ee",
        "type": "change",
        "z": "305eacc3.508f84",
        "name": "Append or backspace",
        "rules": [
            {
                "t": "set",
                "p": "keyString",
                "pt": "msg",
                "to": "keyString",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "keyString",
                "pt": "global",
                "to": "payload = \"backspace\"\t? $substring(keyString, 0, $length(keyString) - 1 )\t: keyString & payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "keyString",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 148.4000244140625,
        "wires": [
            [
                "2ed6a064.218d5"
            ]
        ]
    },
    {
        "id": "eeb63927.407fe8",
        "type": "subflow:305eacc3.508f84",
        "z": "7cbf9c34.bad724",
        "name": "",
        "x": 304,
        "y": 364,
        "wires": [
            [
                "11274800.27b628"
            ],
            [
                "6fc0a1f0.a4909"
            ]
        ]
    },
    {
        "id": "5a73ca0.b9caa38",
        "type": "inject",
        "z": "305eacc3.508f84",
        "name": "",
        "topic": "",
        "payload": "backspace",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 341,
        "y": 212,
        "wires": [
            [
                "788306ce.cff6e8"
            ]
        ]
    },
    {
        "id": "1d0529fc.82afa6",
        "type": "inject",
        "z": "305eacc3.508f84",
        "name": "",
        "topic": "",
        "payload": "enter",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 323.1000213623047,
        "y": 268.40003967285156,
        "wires": [
            [
                "788306ce.cff6e8"
            ]
        ]
    },
    {
        "id": "e306973e.bd21f8",
        "type": "inject",
        "z": "305eacc3.508f84",
        "name": "",
        "topic": "",
        "payload": "a",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 328.1000213623047,
        "y": 332.40003967285156,
        "wires": [
            [
                "788306ce.cff6e8"
            ]
        ]
    },
    {
        "id": "2ed6a064.218d5",
        "type": "debug",
        "z": "305eacc3.508f84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 838.75,
        "y": 295,
        "wires": []
    },
    {
        "id": "7342103b.e7c05",
        "type": "microphone",
        "z": "c25a96c5.98e458",
        "name": "Rescuee PTT",
        "x": 148,
        "y": 188,
        "wires": [
            [
                "86f7179.4f4abe8"
            ]
        ]
    },
    {
        "id": "b0941c12.c51dc",
        "type": "websocket out",
        "z": "c25a96c5.98e458",
        "name": "Rescuee Socket",
        "server": "",
        "client": "60f91915.9f56b",
        "x": 634,
        "y": 185,
        "wires": []
    },
    {
        "id": "34961336.06b33c",
        "type": "websocket in",
        "z": "7cbf9c34.bad724",
        "name": "RescuerSocket",
        "server": "",
        "client": "1a4abcdd.20f0b3",
        "x": 182,
        "y": 545,
        "wires": [
            [
                "3a639c88.2869f4"
            ]
        ]
    },
    {
        "id": "3a639c88.2869f4",
        "type": "debug",
        "z": "7cbf9c34.bad724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 387,
        "y": 544,
        "wires": []
    },
    {
        "id": "86f7179.4f4abe8",
        "type": "change",
        "z": "c25a96c5.98e458",
        "name": "type = audio",
        "rules": [
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "audio",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 327,
        "y": 188,
        "wires": [
            [
                "b0941c12.c51dc"
            ]
        ]
    },
    {
        "id": "70112490.17fcec",
        "type": "change",
        "z": "c25a96c5.98e458",
        "name": "type = image",
        "rules": [
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "image",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 414,
        "y": 253,
        "wires": [
            [
                "b0941c12.c51dc"
            ]
        ]
    },
    {
        "id": "6e65de62.455fd",
        "type": "base64",
        "z": "c25a96c5.98e458",
        "name": "",
        "x": 264,
        "y": 253,
        "wires": [
            [
                "70112490.17fcec"
            ]
        ]
    },
    {
        "id": "139e91a.7a7696e",
        "type": "fileinject",
        "z": "c25a96c5.98e458",
        "name": "",
        "x": 124,
        "y": 253,
        "wires": [
            [
                "6e65de62.455fd"
            ]
        ]
    }
]
