clients/Rescuee.json
[
    {
        "id": "c3501993.ca7e68",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f360a40.8dd7d6",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/fromServer",
        "wholemsg": "false"
    },
    {
        "id": "961a30d.d2b58d",
        "type": "websocket-client",
        "z": "",
        "path": "ws://rescueserver.eu-gb.mybluemix.net/ws/ToServer",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "df278ed3.c5f71",
        "type": "websocket in",
        "z": "c3501993.ca7e68",
        "name": "From Server",
        "server": "2f360a40.8dd7d6",
        "client": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "99bbcb73.0df618"
            ]
        ]
    },
    {
        "id": "aabef058.5f4ed",
        "type": "websocket out",
        "z": "c3501993.ca7e68",
        "name": "To Server",
        "server": "",
        "client": "961a30d.d2b58d",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "68738148.e9cba",
        "type": "inject",
        "z": "c3501993.ca7e68",
        "name": "Test Speech and img by URLs",
        "topic": "",
        "payload": "{\"speech\":\"http://www.thesoundarchive.com/starwars/fool.wav\",\"img\":\"https://bayonline.co.nz/wp-content/uploads/2016/10/4-ways-cheer-up-depressed-cat.jpg\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "bb8cb93f.9a80d8"
            ]
        ]
    },
    {
        "id": "bb8cb93f.9a80d8",
        "type": "change",
        "z": "c3501993.ca7e68",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "f0621cdc.660f58",
                "ced05bc1.159098"
            ]
        ]
    },
    {
        "id": "99bbcb73.0df618",
        "type": "json",
        "z": "c3501993.ca7e68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "8a3c11fd.3c593",
                "6e530e87.3cd5e"
            ]
        ]
    },
    {
        "id": "8a3c11fd.3c593",
        "type": "switch",
        "z": "c3501993.ca7e68",
        "name": "Rescuee Router",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$exists(payload.speech)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "cbd7ad10.0792e"
            ]
        ],
        "outputLabels": [
            "Speech"
        ]
    },
    {
        "id": "78f0cf82.f1166",
        "type": "play audio",
        "z": "c3501993.ca7e68",
        "name": "",
        "voice": "",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "cbd7ad10.0792e",
        "type": "change",
        "z": "c3501993.ca7e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speech",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "89498408.c9f068"
            ]
        ]
    },
    {
        "id": "6e530e87.3cd5e",
        "type": "debug",
        "z": "c3501993.ca7e68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "c37a6790.102da",
        "type": "fileinject",
        "z": "c3501993.ca7e68",
        "name": "img",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "5b4969c1.dcb198"
            ]
        ]
    },
    {
        "id": "5b4969c1.dcb198",
        "type": "change",
        "z": "c3501993.ca7e68",
        "name": "Move img",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"img\": payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "bb8cb93f.9a80d8"
            ]
        ]
    },
    {
        "id": "ced05bc1.159098",
        "type": "debug",
        "z": "c3501993.ca7e68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "f0621cdc.660f58",
        "type": "json",
        "z": "c3501993.ca7e68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "aabef058.5f4ed"
            ]
        ]
    },
    {
        "id": "57b5d8ea.82eb7",
        "type": "debug",
        "z": "c3501993.ca7e68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "89498408.c9f068",
        "type": "function",
        "z": "c3501993.ca7e68",
        "name": "Array => Buffer",
        "func": "return {\n    \"payload\": Buffer.from(msg.payload)\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "78f0cf82.f1166",
                "57b5d8ea.82eb7"
            ]
        ]
    },
    {
        "id": "d11f3cff.c87f28",
        "type": "microphone",
        "z": "c3501993.ca7e68",
        "name": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "69df6bfd.6be03c"
            ]
        ]
    },
    {
        "id": "69df6bfd.6be03c",
        "type": "change",
        "z": "c3501993.ca7e68",
        "name": "Move speech",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"speech\": payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "bb8cb93f.9a80d8"
            ]
        ]
    },
    {
        "id": "ca947de6.b29e78",
        "type": "fileinject",
        "z": "c3501993.ca7e68",
        "name": "wav",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "69df6bfd.6be03c"
            ]
        ]
    },
    {
        "id": "6e090dfa.e9ae1c",
        "type": "camera",
        "z": "c3501993.ca7e68",
        "name": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "5b4969c1.dcb198"
            ]
        ]
    }
]
